body{
    background-color: rgb(15, 15, 56);
}



#div1{
    max-width: 40%;
    max-height: 90vh;
    margin: 0 auto 0 auto;
    background-color: white;
    border-radius: 5px;
}

h1, h3{
    text-align: center;
}

h1{
    text-align: center;
    padding-top: 20px;
}

#fname,#lname,#email,#password,#confirmPassword{
    width:90%;
    height: 30px;
    margin:0 5% 0 5%;
    border-radius: 5px;
    border: solid rgb(177, 172, 172);
}

#submit{
    background-color: rgb(75, 184, 75);
    color:white;
    border: solid white;
    width: 80%;
    margin:0 10% 0 10%;
    border-radius: 5px;
    height: 40px;
}

.label{
    margin-left: 25px;
}

#agree{
    margin: 20px 5px 0 5px;
    text-align: center;
    color:black;
    /* width:50px; */
}

p{
    text-align: center;
    color:white;
}